{% extends "base.html" %}

{% block title %}Gestão de Camas{% endblock %}

{% block content %}
<div class="content-header">
    <h1>Camas</h1>
    <button class="btn-primary">DOWNLOAD CSV</button>
</div>
<div class="page-with-form">
    <div class="list-column">
        <div class="table-toolbar">
            <div class="search-bar">
                <input type="text" placeholder="Pesquisa">
                <i data-feather="search"></i>
            </div>
            <div class="toolbar-actions">
                <button class="icon-btn" title="Editar"><i data-feather="edit-2"></i></button>
                <button class="icon-btn" title="Apagar"><i data-feather="trash-2"></i></button>
            </div>
        </div>
        <table class="data-table">
            <thead>
                <tr>
                    <th>MAC</th>
                    <th>NOME</th>
                    <th>QUARTO</th>
                    <th>BEACON</th>
                    </tr>
            </thead>
            <tbody>
                {% for bed in beds %}
                <tr>
                    <td>{{ bed.mac_address }}</td>
                    <td>{{ bed.nome_cama }}</td>
                    <td>{{ bed.quarto or '---' }}</td>
                    <td>{{ bed.mac_beacon or '---' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="form-column">
        {% include 'bed_form.html' %}
    </div>

</div>
{% endblock %}