<div class="form-card">
    <h3>{% if quarto %}Editar Quarto{% else %}Cadastro de Quarto{% endif %}</h3>
    <form action="{{ form_action }}" method="post">
        <div class="form-group">
            <label for="nome">Nome do Quarto</label>
            <input type="text" id="nome" name="nome" value="{{ quarto.nome if quarto else '' }}" placeholder="Ex: Sala de Reunião 1" required>
        </div>
        <button type="submit" class="btn-primary form-btn">{{ 'Atualizar' if quarto else 'Salvar' }}</button>
    </form>
</div>