<aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <div id="sidebar-logo-toggle" title="Menu">
            <img src="{{ url_for('static', path='icons/novo_logo_icone.png') }}" alt="Ícone do Logo" class="logo-sidebar" id="logo-icone">
            <img src="{{ url_for('static', path='icons/novo_logo.png') }}" alt="Logo Completo" class="logo-sidebar" id="logo-completo">
        </div>
    </div>

    <nav class="sidebar-nav">
        <a href="{{ url_for('cadastro_page') }}" class="nav-item {% if 'cadastro' in request.url.path %}active{% endif %}">
            <span class="svg-icon" style="--icon-url: url({{ url_for('static', path='icons/catalogo.svg') }});"></span>
            <span class="nav-text">Cadastro</span>
        </a>
        <a href="{{ url_for('catalogo_page') }}" class="nav-item {% if 'catalogo' in request.url.path %}active{% endif %}">
            <span class="svg-icon" style="--icon-url: url({{ url_for('static', path='icons/list.svg') }});"></span>
            <span class="nav-text">Catálogo</span>
        </a>
        <a href="{{ url_for('inventario_page') }}" class="nav-item {% if 'inventario' in request.url.path %}active{% endif %}">
            <span class="svg-icon" style="--icon-url: url({{ url_for('static', path='icons/caixa.svg') }});"></span>
            <span class="nav-text">Inventário</span>
        </a>
    </nav>

    <button id="sidebar-toggle-btn" title="Alternar menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
    </button>

    <a href="{{ url_for('login_page') }}" class="nav-item" title="Sair">
        <span class="svg-icon" style="--icon-url: url({{ url_for('static', path='icons/sair.svg') }})"></span>
        <span class="nav-text">Sair</span>
    </a>

    <div class="sidebar-footer">
        <div class="footer-brand">
            <span class="brand-icon">FF</span> <span class="brand-full">Inventário RFID</span>
        </div>
    </div>
</aside>
