<aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <button class="icon-btn" id="sidebar-toggle" title="Menu">
            <span class="svg-icon" style="--icon-url: url({{ url_for('static', path='icons/menu.svg') }})"></span>
        </button>
    </div>
    <nav class="sidebar-nav">
        <a href="{{ url_for('list_events') }}" class="nav-item {% if 'events' in request.url.path %}active{% endif %}" title="Histórico">
            <span class="svg-icon" style="--icon-url: url({{ url_for('static', path='icons/hist.svg') }})"></span>
            <span class="nav-text">Histórico</span>
        </a>

        <a href="{{ url_for('list_embarcados') }}" class="nav-item {% if 'embarcados' in request.url.path %}active{% endif %}" title="Embarcados">
            <span class="svg-icon" style="--icon-url: url({{ url_for('static', path='icons/emb.svg') }})"></span>
            <span class="nav-text">Embarcados</span>
        </a>

        <a href="{{ url_for('list_assets') }}" class="nav-item {% if 'assets' in request.url.path %}active{% endif %}" title="Ativos">
            <span class="svg-icon" style="--icon-url: url({{ url_for('static', path='icons/ativo.svg') }})"></span>
            <span class="nav-text">Camas</span>
        </a>

        <a href="{{ url_for('list_quartos') }}" class="nav-item {% if 'quartos' in request.url.path %}active{% endif %}" title="Quartos">
            <span class="svg-icon" style="--icon-url: url({{ url_for('static', path='icons/quarto.svg') }})"></span>
            <span class="nav-text">Quartos</span>
        </a>

        <a href="{{ url_for('view_planta') }}" class="nav-item {% if 'planta' in request.url.path %}active{% endif %}" title="Plantas">
            <span class="svg-icon" style="--icon-url: url({{ url_for('static', path='icons/mapa.svg') }})"></span>
            <span class="nav-text">Plantas</span>
        </a>
        
    </nav>
    <div class="sidebar-footer">
        <a href="#" class="nav-item" title="Sair">
            <span class="svg-icon" style="--icon-url: url({{ url_for('static', path='icons/sair.svg') }})"></span>
            <span class="nav-text">Sair</span>
        </a>
    </div>
</aside>